{% load static %}
<!Doctype html>
<html>
<head>
    <title>KenKen</title>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'kenken/js/kenkensolution.js' %}"></script>
    <link rel="stylesheet" href="{% static 'kenken/css/cells.css' %}">
    <link rel="stylesheet" href="{% static 'kenken/css/style.css' %}"/>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        input{
            border-radius: 10px;
        }
        .header-right {
            float: right;
            color: white;
            padding-right: 40px;
        }
        
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            display: none;
            overflow: hidden;
            outline: 0;
        }
        .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
        }
        .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.2);
            border-radius: .3rem;
            outline: 0;
        }
        .modal-body {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem;
        }
    </style>
</head>
<body>
<div class="header">
  <a class="logo">
  <img src="https://technothlon.techniche.org.in/images/technothlon.png" class="img-responsive" style="height: 30px; width:125px; margin: auto; margin-top: 0%; margin-bottom: 2.5%">
  </a>
  <div>
    <div class="header-right" id="painting1_final">
        <a class="active">Rules</a>
    </div>
    <div id="painting1_final_modal" class="modal">
        <div class="modal-content">
            <span id="painting_close1"  style="cursor: pointer;font-size: 25px;">&times;</span>
            <div class="modal-body">
               <strong>HOW TO PLAY:-  </strong>    <br> <br> 

        <strong> a)  </strong>  Fill these boxes with digits 1-9 such that each row
        and each column has all 9 digits.  <br>  

        <strong> b)   </strong> You should also satisfy the subgrid condition.   <br>  <br>  <br>
        <strong>
        Ex:   </strong>   <br> <br>
        <strong>  ↠   </strong>    <strong>+</strong>16 means all the digits in that subgrid give a total sum of 16  <br>
        <strong>  ↠   </strong>    <strong>+</strong> Indicates sum,  <br>
        <strong>  ↠   </strong>    <strong>-</strong> Indicates difference,  <br>
        <strong>  ↠   </strong>    <strong>* </strong>Indicates product, <br>
        <strong>  ↠   </strong>    <strong>/</strong> Indicates quotient,  <br>
        <strong>  ↠   </strong>    <strong>%</strong> Indicates modulus--means  
        reminder when one of the digit is divided by other digit.   <br>

            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<!-- <label id="hours">00</label>:<label id="minutes">00</label>:<label id="seconds">00</label> -->
<!-- <script>
  var hoursLabel = document.getElementById("hours");
  var minutesLabel = document.getElementById("minutes");
  var secondsLabel = document.getElementById("seconds");
  var totalSeconds = 0;
  setInterval(setTime, 1000);

  var x = 0;

  function setTime() {
  ++totalSeconds;

  secondsLabel.innerHTML = pad(totalSeconds % 60);
  if (totalSeconds === 3600){
    x++;
    totalSeconds = 0 ;
  }
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
  hoursLabel.innerHTML = pad(parseInt(x + (totalSeconds / 3600)));
  }

  function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
  }
</script> -->

<div align='center' id='mydiv'>
    <table id='kenken' style=" border:5 ;  width: 80%;height: 80%;" cellpadding=5>
        <tbody>
        <tr>
            <td id='td11'>
                <label>2/</label>&nbsp;
                <input id="11"  size="1">&nbsp;&nbsp;</td>
            <td id='td12'>
                <label>45*</label>&nbsp;&nbsp;
                <input id="12"  size="1">&nbsp;&nbsp;</td>  
            <td id='td13'>&nbsp;&nbsp;<input id="13"  size="1">&nbsp;&nbsp;</td>
            <td id='td14'><label>3-</label>&nbsp;&nbsp;<input id="14"  size="1">&nbsp;&nbsp;</td>
            <td id='td15'>&nbsp;&nbsp;<input id="15"  size="1">&nbsp;&nbsp;</td>
            <td id='td16'><label>3/</label>&nbsp;&nbsp;<input id="16"  size="1">&nbsp;&nbsp;</td>
            <td id='td17'>&nbsp;&nbsp;<input id="17"  size="1">&nbsp;&nbsp;</td>
            <td id='td18'><label>4/</label>&nbsp;&nbsp;<input id="18"  size="1">&nbsp;&nbsp;</td>
            <td id='td19'>&nbsp;&nbsp;<input id="19"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td21'>&nbsp;&nbsp;<input id="21"  size="1">&nbsp;&nbsp;</td>
            <td id='td22'><label>14+</label>&nbsp;&nbsp;<input id="22"  size="1">&nbsp;&nbsp;</td>
            <td id='td23'>&nbsp;&nbsp;<input id="23"  size="1">&nbsp;&nbsp;</td>
            <td id='td24'>&nbsp;&nbsp;<input id="24"  size="1">&nbsp;&nbsp;</td>
            <td id='td25'><label>3+</label>&nbsp;&nbsp;<input id="25"  size="1">&nbsp;&nbsp;</td>
            <td id='td26'><label>4-</label>&nbsp;&nbsp;<input id="26"  size="1">&nbsp;&nbsp;</td>
            <td id='td27'>&nbsp;&nbsp;<input id="27"  size="1">&nbsp;&nbsp;</td>
            <td id='td28'><label>2-</label>&nbsp;&nbsp;<input id="28"  size="1">&nbsp;&nbsp;</td>
            <td id='td29'><label>13+</label>&nbsp;&nbsp;<input id="29"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td31'><label>2-</label>&nbsp;&nbsp;<input id="31"  size="1">&nbsp;&nbsp;</td>
            <td id='td32'>&nbsp;&nbsp;<input id="32"  size="1">&nbsp;&nbsp;</td>
            <td id='td33'><label>2/</label>&nbsp;&nbsp;<input id="33"  size="1">&nbsp;&nbsp;</td>
            <td id='td34'>&nbsp;&nbsp;<input id="34"  size="1">&nbsp;&nbsp;</td>
            <td id='td35'>&nbsp;&nbsp;<input id="35"  size="1">&nbsp;&nbsp;</td>
            <td id='td36'><label>4/</label>&nbsp;&nbsp;<input id="36"  size="1">&nbsp;&nbsp;</td>
            <td id='td37'>&nbsp;&nbsp;<input id="37"  size="1">&nbsp;&nbsp;</td>
            <td id='td38'>&nbsp;&nbsp;<input id="38"  size="1">&nbsp;&nbsp;</td>
            <td id='td39'>&nbsp;&nbsp;<input id="39"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td41'><label>1-</label>&nbsp;&nbsp;<input id="41"  size="1">&nbsp;&nbsp;</td>
            <td id='td42'>&nbsp;&nbsp;<input id="42"  size="1">&nbsp;&nbsp;</td>
            <td id='td43'><label>216*</label>&nbsp;&nbsp;<input id="43"  size="1">&nbsp;&nbsp;</td>
            <td id='td44'><label>2-</label>&nbsp;&nbsp;<input id="44"  size="1">&nbsp;&nbsp;</td>
            <td id='td45'><label>17+</label>&nbsp;&nbsp;<input id="45"  size="1">&nbsp;&nbsp;</td>
            <td id='td46'><label>7</label>&nbsp;&nbsp;<input id="46"  size="1">&nbsp;&nbsp;</td>
            <td id='td47'><label>2/</label>&nbsp;&nbsp;<input id="47"  size="1">&nbsp;&nbsp;</td>
            <td id='td48'>&nbsp;&nbsp;<input id="48"  size="1">&nbsp;&nbsp;</td>
            <td id='td49'>&nbsp;&nbsp;<input id="49"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td51'><label>4/</label>&nbsp;&nbsp;<input id="51"  size="1">&nbsp;&nbsp;</td>
            <td id='td52'>&nbsp;&nbsp;<input id="52"  size="1">&nbsp;&nbsp;</td>
            <td id='td53'>&nbsp;&nbsp;<input id="53"  size="1">&nbsp;&nbsp;</td>
            <td id='td54'>&nbsp;&nbsp;<input id="54"  size="1">&nbsp;&nbsp;</td>
            <td id='td55'>&nbsp;&nbsp;<input id="55"  size="1">&nbsp;&nbsp;</td>
            <td id='td56'><label>168*</label>&nbsp;&nbsp;<input id="56"  size="1">&nbsp;&nbsp;</td>
            <td id='td57'>&nbsp;&nbsp;<input id="57"  size="1">&nbsp;&nbsp;</td>
            <td id='td58'><label>8-</label>&nbsp;&nbsp;<input id="58"  size="1">&nbsp;&nbsp;</td>
            <td id='td59'><label>2-</label>&nbsp;&nbsp;<input id="59"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td61'><label>2-</label>&nbsp;&nbsp;<input id="61"  size="1">&nbsp;&nbsp;</td>
            <td id='td62'>&nbsp;&nbsp;<input id="62"  size="1">&nbsp;&nbsp;</td>
            <td id='td63'>&nbsp;&nbsp;<input id="63"  size="1">&nbsp;&nbsp;</td>
            <td id='td64'><label>3/</label>&nbsp;&nbsp;<input id="64"  size="1">&nbsp;&nbsp;</td>
            <td id='td65'>&nbsp;&nbsp;<input id="65"  size="1">&nbsp;&nbsp;</td>
            <td id='td66'>&nbsp;&nbsp;<input id="66"  size="1">&nbsp;&nbsp;</td>
            <td id='td67'><label>2-</label>&nbsp;&nbsp;<input id="67"  size="1">&nbsp;&nbsp;</td>
            <td id='td68'>&nbsp;&nbsp;<input id="68"  size="1">&nbsp;&nbsp;</td>
            <td id='td69'>&nbsp;&nbsp;<input id="69"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td71'><label>4/</label>&nbsp;&nbsp;<input id="71"  size="1">&nbsp;&nbsp;</td>
            <td id='td72'><label>13+</label>&nbsp;&nbsp;<input id="72"  size="1">&nbsp;&nbsp;</td>
            <td id='td73'><label>1</label>&nbsp;&nbsp;<input id="73"  size="1">&nbsp;&nbsp;</td>
            <td id='td74'><label>18+</label>&nbsp;&nbsp;<input id="74"  size="1">&nbsp;&nbsp;</td>
            <td id='td75'>&nbsp;&nbsp;<input id="75"  size="1">&nbsp;&nbsp;</td>
            <td id='td76'>&nbsp;&nbsp;<input id="76"  size="1">&nbsp;&nbsp;</td>
            <td id='td77'>&nbsp;&nbsp;<input id="77"  size="1">&nbsp;&nbsp;</td>
            <td id='td78'><label>6-</label>&nbsp;&nbsp;<input id="78"  size="1">&nbsp;&nbsp;</td>
            <td id='td79'>&nbsp;&nbsp;<input id="79"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td81'>&nbsp;&nbsp;<input id="81"  size="1">&nbsp;&nbsp;</td>
            <td id='td82'>&nbsp;&nbsp;<input id="82"  size="1">&nbsp;&nbsp;</td>
            <td id='td83'>&nbsp;&nbsp;<input id="83"  size="1">&nbsp;&nbsp;</td>
            <td id='td84'><label>48*</label>&nbsp;&nbsp;<input id="84"  size="1">&nbsp;&nbsp;</td>
            <td id='td85'>&nbsp;&nbsp;<input id="85"  size="1">&nbsp;&nbsp;</td>
            <td id='td86'><label>7-</label>&nbsp;&nbsp;<input id="86"  size="1">&nbsp;&nbsp;</td>
            <td id='td87'><label>2-</label>&nbsp;&nbsp;<input id="87"  size="1">&nbsp;&nbsp;</td>
            <td id='td88'>&nbsp;&nbsp;<input id="88"  size="1">&nbsp;&nbsp;</td>
            <td id='td89'><label>3-</label>&nbsp;&nbsp;<input id="89"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <tr>

            <td id='td91'><label>7-</label>&nbsp;&nbsp;<input id="91"  size="1">&nbsp;&nbsp;</td>
            <td id='td92'>&nbsp;&nbsp;<input id="92"  size="1">&nbsp;&nbsp;</td>
            <td id='td93'><label>2-</label>&nbsp;&nbsp;<input id="93"  size="1">&nbsp;&nbsp;</td>
            <td id='td94'>&nbsp;&nbsp;<input id="94"  size="1">&nbsp;&nbsp;</td>
            <td id='td95'>&nbsp;&nbsp;<input id="95"  size="1">&nbsp;&nbsp;</td>
            <td id='td96'>&nbsp;&nbsp;<input id="96"  size="1">&nbsp;&nbsp;</td>
            <td id='td97'><label>1-</label>&nbsp;&nbsp;<input id="97"  size="1">&nbsp;&nbsp;</td>
            <td id='td98'>&nbsp;&nbsp;<input id="98"  size="1">&nbsp;&nbsp;</td>
            <td id='td99'>&nbsp;&nbsp;<input id="99"  size="1">&nbsp;&nbsp;</td>
        </tr>
        <script>

            // document.getElementById("myText").disabled = true;


        </script>
        </tbody>
    </table>
</div>

<p id="demo" align='center'></p>
<button align='center' style="display: none;" onclick="checker()">solution</button>
<!--<div id="instructions">
    <p id="title">HOW TO PLAY</p>
    <p>
        a)fill these boxes with digits 1-9 such that each row
        and each column has all 9 digits.
    </p>
    <p> b)you should also satisfy the subgrid condition.
        Ex:+16 means all the digits in that subgrid give a total sum of 16
        + Indicates sum, - indicates difference, * indicates product, / indicates quotient, % indicates modulus--means
        reminder when one of the digit is divided by other digit.
    </p>
    
</div>-->
<input id="skip" type="button" value="SKIP" onclick="redirect1();"/>


<script type="text/javascript">
    function redirect1() 
    {
        window.location = "{% url 'secondyear' %}";
    }
    
</script>
<input id="submit" type="button" value="SUBMIT" onClick="redirect2();"/>
<script type="text/javascript">
    function redirect2() {
        window.location = "{% url 'secondyear' %}";
    }
    
</script>
<button class="button" id="skip"><a href="{% url 'secondyear' %}">SKIP</a></button>
<button class="button" id="submit"><a href="{% url 'secondyear' %}">SUBMIT</a></button>



<script>
    var modal1 = document.getElementById("painting1_final_modal");
    var img1 = document.getElementById("painting1_final");
    // var span1 = document.getElementsByClassName("close")[0];
    img1.onclick = function () {
        modal1.style.display = "block";

    }
    $('#painting_close1').on('click', () => {
        modal1.style.display = "none";
    });
</script>


<script>
    

    function kenken_data() {
        var kenken_array = new Array(81);
        // for (var i = 0; i < 81; i++) {
        //     kenken_array[i] = 0;
        // }

        for (var i = 0; i < 81; i++) {
            try {
                if ((document.getElementById(""+ (11 +i) + "").value) === ""){
                    kenken_array[i] = 0;
                }
                else{
                    kenken_array[i] = parseInt(document.getElementById(""+ (11 +i) + "").value);
                }
            }
            catch(err) {
                kenken_array[i] = 0;
            }   
        }
        console.log(kenken_array)
        return kenken_array;
    }



$('#submit').on('click', () => {
    // let total_square = $('#puzzle').find('.square').length;
    // console.log($('#puzzle').find('.square').eq(1).text());
    // for (let i = 0; i < 15; i++) }
    //     submittedCrossword[i] = new Array(15);
    // var k = 0;
    // for (let i = 0; i < 15; i++) }
    //     for (let j = 0; j < 15; j++) }
    //         submittedCrossword[i][j] = $('#puzzle').find('.square').eq(k).text();
    //         k++;
    //     }
    // console.log(submittedCrossword);

    

    $.ajax({
        type: "POST",
        url: "{%url 'kenken_submission' %}",
        data: {
            'kenken_solver': JSON.stringify(kenken_data()),
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        dataType: 'json',
        success: function (data) {
            alert("Your response have been submitted");
        }
    });
});

</script>
<div class="footer">
  
  <p>Technothlon<br>
  Copyright &copy 2019-20
<br>All rights reserved.</p>

</div>

 
</body>

</html>
