<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payback</title>
    <script src="{% static 'payback/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'payback/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'payback/js/opening.js' %}"></script>
    <link rel="stylesheet" href="{% static 'payback/css/jquery-ui.minsource .css' %}"/>
    <link rel="stylesheet" href="{% static 'payback/css/opening.css' %}"/>
</head>
<body>
<div class="skw-pages">
    <div class="skw-page skw-page-1 active">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">WELCOME TO IIT GUWAHATI!</h2>
                    <p class="skw-page__description">Just scroll down</p>
                </div>
            </div>
        </div>
    </div>
    <div class="skw-page skw-page-2">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">CONGRATULATIONS FOR QUALIFYING TECHNOTHLON</h2>
                    <p class="skw-page__description">Nothing to do here, continue scrolling.</p>
                </div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
    </div>
    <div class="skw-page skw-page-3">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">YOUR ARE ENROLLED IN TECHNOTECH</h2>
                    <p class="skw-page__description">The end is near, I promise!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="skw-page skw-page-4">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">YOUR FOUR YEAR JOURNEY BEGINS!</h2>
                    <p class="skw-page__description">Ok, ok, just one more scroll!</p>
                </div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
    </div>
    <div class="skw-page skw-page-5">
        <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
                <div class="skw-page__content"></div>
            </div>
        </div>
        <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
                <div class="skw-page__content">
                    <h2 class="skw-page__heading">Epic finale</h2>
                    <p class="skw-page__description">
                        <a class="skw-page__link" href="{% url 'firstyear' %}" target="_blank">Here Your Journey Begins!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>