#td11 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
  padding-top: 3px;
  padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
}
#td12 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    padding-top: 3px;
  padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
    border-bottom: 5px solid black;
}
#td13 {
    border-top: 5px solid black;
    padding-top: 5px;
  padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td14 {
    border-top: 5px solid black;
    border-left: 5px solid black;
    padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-bottom: 5px solid black;
}
#td15 {
    border-top: 5px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td16 {
    border-top: 5px solid black;
    padding-top: 3px;
  padding-bottom: 5px;
   padding-right: 20px;
   padding-left: 20px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td17 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td18 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td19 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td21 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td22 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td23 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#td24 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td25 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td26 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td27 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td28 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td29 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td31 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td32 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td33 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td34 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td35 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td36 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td37 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td38 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td39 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td41 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td42 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td43 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td44 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td45 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td46 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td47 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td48 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td49 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td51 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td52 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td53 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td54 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td55 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td56 {
    border-top:5px solid black;padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;  
    border-left: 5px solid black;
}
#td57 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td58 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td59 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td61 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td62 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td63 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td64 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td65 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td66 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td67 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td68 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td69 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td71 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td72 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td73 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td74 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td75 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#td76 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td77 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td78 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td79 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td81 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td82 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td83 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td84 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td85 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
}
#td86 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td87 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td88 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td89 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#td91 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td92 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td93 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td94 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td95 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td96 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td97 {padding-top: 3px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}
#td98 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#td99 {padding-top: 5px;
    padding-bottom: 5px;
     padding-right: 20px;
     padding-left: 20px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
#solution
{
    display: none;
}