@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body{
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 1200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#kenken {
    background-color: rgb(161, 118, 118);
	border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
#instructions{
    height: 200px;
    width: 800px;
    background-color: rgb(197, 177, 61);
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

#kenken td {
	border: 1px solid grey;
	text-align:center; 
    vertical-align:middle;
    font-size: 16px;
    font-size: 2vw;
    position: relative;
}

#controls {
    float: left;
    display:none;
    
}

.hint {
    position: absolute;
    font-size: 60%;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
}